require ldap-user s103523966
require ldap-group cn=it_feenix_admin_convenor,ou=Group,ou=general,dc=feenix,dc=swin,dc=edu,dc=au
require ldap-group cn=it_sdteam_convenor,ou=Group,ou=general,dc=feenix,dc=swin,dc=edu,dc=au
require ldap-group cn=cos30043_convenor,ou=Group,ou=general,dc=feenix,dc=swin,dc=edu,dc=au
require ldap-group cn=cos30043_tutor,ou=Group,ou=general,dc=feenix,dc=swin,dc=edu,dc=au

Options +Indexes

SSLRequireSSL
